<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BookSearch</servlet-name>
    <servlet-class>servlets.BookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearch</servlet-name>
    <url-pattern>/BookSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookCheckOut</servlet-name>
    <servlet-class>servlets.BookCheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCheckOut</servlet-name>
    <url-pattern>/BookCheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBorrower</servlet-name>
    <servlet-class>servlets.AddBorrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBorrower</servlet-name>
    <url-pattern>/AddBorrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookCheckInSearch</servlet-name>
    <servlet-class>servlets.BookCheckInSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCheckInSearch</servlet-name>
    <url-pattern>/BookCheckInSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookCheckIn</servlet-name>
    <servlet-class>servlets.BookCheckIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCheckIn</servlet-name>
    <url-pattern>/BookCheckIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefreshFines</servlet-name>
    <servlet-class>servlets.RefreshFines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshFines</servlet-name>
    <url-pattern>/RefreshFines</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayFine</servlet-name>
    <servlet-class>servlets.PayFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayFine</servlet-name>
    <url-pattern>/PayFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFine</servlet-name>
    <servlet-class>servlets.ShowFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFine</servlet-name>
    <url-pattern>/ShowFine</url-pattern>
  </servlet-mapping>
</web-app>